%fieldset
  = form_for @settlement do |f|
    - if @settlement.errors.any?
      #error_explanation
        %h2= "#{pluralize(@settlement.errors.count, "error")} prohibited this settlement from being saved:"
        %ul
          - @settlement.errors.full_messages.each do |msg|
            %li= msg  %fieldset#settlement-form 
    %ul
      %li= f.label :name
      %li= f.text_field :name
    %ul
      %li= f.label :population
      %li= f.text_field :population
    .random
      %ul
        %li
          %label{:for => 'random-settlement-name'} random
    .clear
    %input#random-settlement-name{:type => 'checkbox', :value => 'Random Name'}
    = link_to 'Create', '#', :id => 'create-settlement'

