%fieldset
  = form_for @settlement do |f|
    - if @settlement.errors.any?
      #error_explanation
        %h2= "#{pluralize(@settlement.errors.count, "error")} prohibited this settlement from being saved:"
        %ul
          - @settlement.errors.full_messages.each do |msg|
            %li= msg  %fieldset#settlement-form 
    %ul.form
      %li= f.label :name
      %li
        = f.text_field :name
        %span.randcheck.settlement-name= escape_once('&lsaquo; random');
      %li= f.label :population
      %li= f.text_field :population
      %li
        %label{:for => 'size-field'} Size
        %select#size{:name => 'size'}
          - Settlement.sizes.each_pair do |k,v|
            %option{:value => v}= k
    .clear
    = link_to 'Submit', '#', :id => 'submit-form'

