- icon = image_path("heraldry/#{settlement.icon}.png")
%li.media.well
  %img.img-circle.media-object.pull-left{src: icon, style: "width:80px; height: 80px; background-color: #{settlement.color};"}
  .media-body
    %h4.media-heading= settlement.name
    %dl
      %dt population
      %dd= settlement.population
      %dt ruler
      %dd= settlement.ruler
    %ul.nav.nav-pills
      %li
        %a{href:"/settlements/#{settlement.id}"}
          %i.icon-eye-open
      %li
        %a{href:"/settlements/#{settlement.id}.markdown"}
          %i.icon-download
      %li
        %a{ confirm: 'Cannot undo!', href: settlement_path(settlement) , confirm:  'Are you sure?', method: :delete}
          %i.icon-trash
    - unless settlement.families.length
      %li.seed
        %a{ href: seed_path(settlement)}

