.settlement
  %ul.settlement
    %li.name= link_to settlement.name, settlement_path(settlement)
    %li.population
      %label population
      = settlement.population
    %li.export= link_to "export markdown", "/settlements/#{settlement.id}.markdown"
    %li.delete= link_to 'Destroy', settlement, :confirm => 'Are you sure?', :method => :delete
