.hero-unit
  %h4= settlement.name
  %dl
    %dt population
    %dd= settlement.population
    %dt ruler
    %dd= settlement.ruler
  .row-fluid
    .span1
      %a{href:"/settlements/#{settlement.id}.markdown"}
        %i.icon-download
    .span1
      %a{ confirm: 'Cannot undo!', href: settlement_path(settlement) , confirm:  'Are you sure?', method: :delete}
        %i.icon-delete
    - unless settlement.families.length
      %li.seed
        %a{ href: seed_path(settlement)}
    %li.seed=   link_to 'seed', seed_path(settlement)
