%ul.settlement
  %li.name= best_in_place settlement, :name, activator: '#edit_#{settlement.id}'
  %li.population
    %label population
    = settlement.population
  %li.export
    export
    %ul.export-menu
      = link_to 'export csv', settlement, format: 'csv'
      = link_to 'export text', settlement, format: 'txt'
      = link_to 'export markdown', settlement, format: 'md'
