- icon = image_path("heraldry/180/#{settlement.icon}.png")
%li.media.well.span12
  %a{href: settlement_path(settlement)}
    %img.img-circle.media-object.pull-left{src: icon, style: "width:180px; height: 180px; background-color: #{settlement.color};"}
  .media-body
    %h1.media-heading
      = settlement.name
    .span2
      %dl
        %dt population
        %dd= settlement.population
        %dt ruler
        %dd= link_to settlement.ruler, being_path(settlement.ruler)
    %ul.nav.nav-pills
      %li
        %a.btn{href:"/settlements/#{settlement.id}.markdown"}
          export markdown

      %li
        %a.btn.btn-warning{ confirm: 'Cannot undo!', href: settlement_path(settlement) , confirm:  'Are you sure?', method: :delete}
          delete
    - unless settlement.families.length
      %li.seed
        %a{ href: seed_path(settlement)}

