- content_for :title do
  = @settlement.name
  Settlement

- content_for :watermark do
  .grenade

%ul.subnav
  %li= link_to 'Edit', edit_settlement_path(@settlement), :class => 'button'
  %li= link_to 'Back', settlements_path
  %li= link_to 'Seed', seed_path(@settlement), :method => :put

#settlement
  %h3= @settlement.name
  %ul.nav-pills.nav.span6
    %li
      %a{:href => '#summary', 'data-toggle' => "tab"} Summary
    %li
      %a{:href => '#rulers', 'data-toggle' => "tab"} Rulers
    %li
      %a{:href => '#population', 'data-toggle' => "tab"} Population
    %li
      %a{:href => '#map', 'data-toggle' => "tab"} Map
  .tab-content.span6
    #summary.tab-pane.fade
      %h4
        Population:
        = @settlement.population
      %h4
        History:
      %ul.history
        - @settlement.history.each do |h|
          %li= h.to_s
      %h4
        Families:
        = @settlement.family_names.length
      %ul.family-names
        - @settlement.family_names.sort.each do |f|
          %li= f

    #rulers.tab-pane.fade
      %ul.unstyled
        %li= "Ruler: #{@settlement.ruler}"
      .clear
    #population.tab-pane
      %ul.unstyled.thumbnails
        = render :partial => 'families', :collection => @settlement.families.map{|k,v| [k,  v.all]}
    #tab-map.tab-pane
      %svg{xmlns: "http://www.w3.org/2000/svg", version: "1.1"}
        - @settlement.family_names.each do |name|
          - x = rand * 350 + 50
          - y = rand * 350 + 50
          %text{x: x, y: y + 40} #{name}
          %image{x: x, y: y, width: 25, height: 29, 'xlink:href'=>"/assets/icons/house.png"}


