- content_for :title do
  = @settlement.name
  Settlement

.watermark.grenade
%ul.subnav
  %li= link_to 'Edit', edit_settlement_path(@settlement), :class => 'button'
  %li= link_to 'Back', settlements_path
  %li= link_to 'Seed', seed_path(@settlement), :method => :put

#settlement
  %h3= @settlement.name
  .tabs
    %ul
      %li
        %a{:href => '#tab-summary'} Summary
      %li
        %a{:href => '#tab-rulers'} Rulers
      %li
        %a{:href => '#tab-population'} Population
    #tab-summary
      %h4
        Population:
        = @settlement.population
      %h4
        History:
      %ul.history
        - @settlement.history.each do |h|
          %li= h.to_s
      %h4 
        Families:
        = @settlement.family_names.length 
      %ul.family-names
        - @settlement.family_names.sort.each do |f|
          %li= f
          
      .clear
    #tab-rulers
      %ul.ruler-name
        %li= "Ruler: #{@settlement.ruler}"
        -# = render :partial => '/beings/being', :locals => {:being => @settlement.ruler}
      .clear
    #tab-population
      = render :partial => 'families', :collection => @settlement.families.to_a
      .clear

