- content_for :title do
  = @settlement.name
  Settlement
  
%p#notice= notice

%h3= @settlement.name
#tabs
  %ul
    %li
      %a{:href => '#tab-summary'} Summary
    %li
      %a{:href => '#tab-rulers'} Rulers
    %li
      %a{:href => '#tab-population'} Population
  #tab-summary
    %h5
      Population:
      = @settlement.population
  #tab-rulers
    %ul.beings
      = render :partial => '/beings/being', :collection => @settlement.rulers
    .clear
  #tab-population
    %ul.beings
      = render :partial => '/beings/being', :collection => @settlement.beings.sort{|a, b| a.surname <=> b.surname}
    .clear

= link_to 'Edit', edit_settlement_path(@settlement), :class => 'button'
\|
= link_to 'Back', settlements_path, :class => 'button'
