- nospouse ||= false
- nokids ||= false
- nolink ||= false
%li.left.being{:class=>"#{being.gender} #{being.alive? ? 'alive' : 'dead'}" }
  %input{:type => 'hidden', :value => being.id}
  = link_to_unless nolink, being.name, { controller: 'beings', action: 'show', id: being }
  = being.age 
  years old
- if being.respond_to? :spouse and being.spouse.present? and not nospouse
  = render :partial => "/beings/being", locals: { being: being.spouse, nospouse: true }
- if being.children.present? and not nokids
  %li.clear.being-children
    %ul
      - being.children.each do |child|
        = render partial:'/beings/being', locals:{ being:child }
.clear


