- nolink ||= false
- if being.respond_to?(:married?)  && being.married?
  - t = "#{being.name} (#{being.gender[0]}, #{being.age}) + #{being.spouse.name} (#{being.spouse.gender[0]}, #{being.spouse.age})"
- else
  - t = "#{being.name} (#{being.gender[0]}, #{being.age})"
= link_to_unless nolink, t, being_path(being)
- if being.parent?
  %ul.unstyled
    - being.children.each do |child|
      %li
        = render partial: 'beings/being', locals: { being: child }


