- if :nested
  :plain

    #### #{being.name}

- else
  :plain
    Title: #{being.name}
    # #{being.name}

:plain

  #{being.given_name} is #{being.age.to_words} years old.

  #{describe_paragraph(being)}

  #{being.married? ? "Married to [#{being.spouse.name}][#{being.spouse.slug}]" : "#{pronoun(being).capitalize} is unmarried."}

  #{pronoun(being).capitalize} has #{being.children.count.to_words.gsub('zero', 'no')} children#{being.children.count == 0 ? '.' : ','} #{being.children.map{ |m| "[#{m.name}][#{m.slug}]"}.to_sentence}

  ___



