- if being.children.length > 0 or being.try(:spouse).try(:children).try(:length).try(:>, 0)
  %h5 Children
  %ul.being-children
    - being.children.each do |child|
      = render partial:'being', locals:{ being:child }
    - if being.spouse
      - being.spouse.children.each do |child|
        = render partial:'being', locals:{ being:child }
- if being.spouse
  %h5 Spouse
  %ul.being-spouse
    %li= render partial:'being', locals:{ being:being.spouse, nospouse: true, nokids: true }
    %li= link_to_if(being.alive?, 'Have Baby', reproduction_path(being._id, being.spouse._id))


- if being.parents
  %h5 Parents
  = being.parents.sort{|a,b| a.gender <=> b.gender}.map{ |m|  "<a href='#{url_for(m)}'>#{m.to_s}</a>" }.to_sentence.html_safe
- if being.siblings
  %h5 Siblings
  = being.siblings.sort{|a,b| a.age <=> b.age}.map{ |m|  "<a href='#{url_for(m)}'>#{m.to_s}</a>" }.to_sentence.html_safe

