.left
  %h4 Family
  - if being.children.length > 0 or being.try(:spouse).try(:children).try(:length).try(:>, 0)
    %h5 Children
    %ul.being-children
      - being.children.each do |child|
        = render partial:'being', locals:{ being:child }
      - if being.spouse
        - being.spouse.children.each do |child|
          = render partial:'being', locals:{ being:child }
  - if being.spouse
    %h5 Spouse
    %ul.being-spouse
      %li= render partial:'being', locals:{ being:being.spouse, nospouse: true, nokids: true }
      %li= link_to_if(being.alive?, 'Have Baby', reproduction_path(being._id, being.spouse._id))


  - if being.parents
    %h5 Parents
    %ul.being-parent
      = render partial:'being', collection:being.parents, locals:{ nospouse: true, nokids: true }
  - if being.siblings
    %h5 Siblings
    %ul.being-siblings
      - being.siblings.select{ |s| s != self and s.parent_id.present? }.each do |sib|
        %li= render partial:'being', locals:{ being: sib }

