= form_for @being do |f|
  %fieldset
    -if @being.errors.any?
      #error_explanation
        %h2= "#{pluralize(@being.errors.count, "error")} prohibited this being from being saved:"
        %ul
          - @being.errors.full_messages.each do |msg|
            %li= msg
    %ul.form
      %li.field
        = f.select :_type, ['person', 'being']

      %li.field
        = f.label :name
        = f.text_field :name
        %span.randcheck.being-name= escape_once('&lsaquo; random');
      %li.field
        = f.label :gender
        = f.select :gender, Being.genders
      %li.field
        = f.label :age
        = f.text_field :age
      .actions
        = f.submit 'Save'
