%h5 #{@being.given_name} #{@being.surname} #{@being.age}
%h5 #{@being.gender.capitalize}
.being-popup.left
  %h5 Description
  %dl.being-description
    - @being.description.each do |tuple|
      %ul
        %li
          = possessive @being.gender
          %span.bold #{tuple.keys.first} is
          #{strength(tuple)} #{tuple.values.first.first} 
.being-popup.left
  %h5 Genotype 
  %div{ id:"genotype#{@being.id}", :class => 'genotype' } 
    - @genotype.collect{|c| c.to_s }.sort.reverse.each do |chromosome|
      .clear
      - chromosome.split.each do |gene|
        %div{ title:gene, style: "background-color:##{gene};" }  

