- content_for :title do
  Beings
- if @beings.empty?
  %h3 No Beings

-else
  %table
    %thead
      %tr
        %th Surname
        %th Given Name
        %th Gender
        %th Age
        %th Type
        %th Settlement
    %tbody
      - @beings.collect{|c| c}.each do |being|
        %tr
          %td= link_to being.surname, being_path(being.id)
          %td= link_to being.given_name, being_path(being.id)
          %td= being.gender
          %td= being.age
          %td= being._type
          %td= link_to_if( being.settlement.present?, being.settlement.try(:name), "/settlements/#{being.settlement.try(:id)}")
%br

= link_to 'New Being', new_being_path
