- content_for(:title){ "#{@being.name} of #{@being.settlement.name}" } if @being.settlement
- content_for(:watermark) do 
  .watermark.cockatrice

%input{type: 'hidden', id:'being-alive', value:@being.alive?.to_s }
%input{type: 'hidden', id:'being-name', value:@being.name }
%input{type: 'hidden', id:'being-id', value:@being._id}
%input{type: 'hidden', id:'being-age', value:@being.age}
%input{type: 'hidden', id:'being-old-age', value:@being.class.old_age}
%input{type: 'hidden', id:'age-change', value:0}

- content_for(:navigation) do
  %li= link_to @being.settlement.name, settlement_path(@being.settlement) if @being.settlement



#being
  %h4#being-title{:class => @being.alive? ? 'alive' : 'dead'}= render partial:'being', locals:{ being:@being, nospouse: true, nokids: true, nolink: true }
  .tabs 
    .slider-wrapper.invisible
      = image_tag('icons/dead.png', :class => 'right')
      = image_tag('icons/birth.png', :class => 'left')
      .clear
      .slider#age-slider
    %ul 
      %li 
        %a{href: "/beings/family/#{@being._id}"} Family
      %li 
        %a{href: "/beings/history/#{@being._id}"} History
      %li 
        %a{href: "/beings/description/#{@being._id}"} Description
      %li 
        %a{href: "/beings/genotype/#{@being._id}"} Genotype
.clear
