- content_for(:title){ "#{@being.name} of #{@being.settlement.name}" } if @being.settlement
%h1
  = @being.to_s
  %small "from #{@being.settlement.name}, speaks #{@being.settlement.language }"

%input{type: 'hidden', id:'being-alive', value:@being.alive?.to_s }
%input{type: 'hidden', id:'being-name', value:@being.name }
%input{type: 'hidden', id:'being-id', value:@being._id}
%input{type: 'hidden', id:'being-age', value:@being.age}
%input{type: 'hidden', id:'being-old-age', value:@being.class.old_age}
%input{type: 'hidden', id:'age-change', value:0}

#being.accordion
  - %w|description family history genotype|.each do |section|
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#being", "data-toggle" => "collapse", :href => "##{section}"}
          %h5= section
    %div.accordion-body.collapse.in{ id: section }
      .accordion-inner
        = render partial: section, :locals => {being: @being}


