- content_for(:title){ "#{@being.name} of #{@being.settlement.name}" } if @being.settlement
- content_for(:watermark) do 
  .watermark.sun_in_splendor

%h4= render partial:'being', locals:{ being:@being, nospouse: true, nokids: true }
- if @being.married? 
  %h4 Spouse
  %ul.being-spouse
    %li= render partial:'being', locals:{ being:@being.spouse, nospouse: true, nokids: true }
%h4 Family
- if @being.children or @being.spouse.children?
  %h5 Children
  %ul.being-children
    - @being.children.each do |child|
      = render partial:'being', locals:{ being:child }
    - if @being.spouse
      - @being.spouse.children.each do |child|
        = render partial:'being', locals:{ being:child }
- if @being.parent
  %h5 Parents
  %ul.being-parent
    = render partial:'being', locals:{ being:@being.parent, nospouse: true, nokids: true }
    - if @being.parent.married?
      = render partial:'being', locals:{ being:@being.parent.spouse, nospouse: true, nokids: true }

%h4 History
%dl.events
  - @being.history.each do |event|
    %dt= event.name
    %dd= event.description

= link_to 'Edit', edit_being_path(@being)
\|
= link_to 'Back', beings_path
