- content_for :title do
  A tool for making imaginary townsfolk with imaginary names.
.watermark.bull_rampant

#homepage
  .row-fluid.span12
    .container-fluid.span8
      .hero-unit
        = render partial: '/settlements/form'
      .hero-unit
        = render partial: '/languages/form'
      .hero-unit
        = render partial: '/corpora/form'
    .container-fluid.span4
      = render partial: '/settlements/settlement', collection: @settlements
    .container-fluid.span4
      = render partial: '/languages/language', collection: @languages



