- content_for :title do
  A tool for making imaginary townsfolk with imaginary names.

#homepage
  .watermark.bull-rampant

    .container-fluid.span8
      #new-settlement-modal.modal.hide.fade{role: 'dialog'}
        = render partial: '/settlements/form'
      #new-language-modal.modal.hide.fade{role: 'dialog'}
        = render partial: '/languages/form'
      #new-corpus-modal.modal.hide.fade{role: 'dialog'}
        = render partial: '/corpora/form'

    .container-fluid.span4
      = render partial: '/settlements/settlement', collection: @settlements
    .container-fluid.span4
      = render partial: '/languages/language', collection: @languages



