- content_for :title do
  Populinator: A tool for making imaginary townsfolk with imaginary names.
#homepage.container-fluid
  .span4
    %h1
      towns
      %small instant town
    .hero-unit
      %p Ever find your intrepid band of players wandering out of your little sandbox? Tired of completely railroading them?
      %p Now you can whip up a new town!
      %p The townspeople are generated using a simple genetic simulation, using exchange of hex codes in lieu of genes. So children resemble their parents!
      %ul.row-fluid.unstyled
        %li.left{role: 'button'}= flat_button 'elephant-and-castle', random_settlement_path, label: 'Quick Town'
        %li.left{role: 'button'}= flat_button 'tower', new_settlement_path,  label: 'New Town'
        %li.left{role: 'button'}= flat_button 'tower-triple', settlements_path,  label: 'Town Gallery'


  .span4
    %h1
      languages
      %small made up words
    .hero-unit
      %p Want a new language to name your towns, and make nice consistent-sounding names?
      %p Point the language generator at a nice body of text in a foreign (to you) language, and it will suck it down, and determine letter combination probabilities.
      %p Grab one or two more, in different languages.
      %p Mix them together and create a new glossary based on the languages.
      %ul.row-fluid.unstyled
        %li.left{role: 'button'}= flat_button 'quill', new_language_path, label: 'New Language'
        %li.left{role: 'button'}= flat_button 'popinjay', languages_path, label: 'Language Gallery'
