%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Description:
  = @event.description
%p
  %b Occurred on:
  = @event.occurred_on

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
