%html
  %head
    %title
      = [yield(:title), 'Populator'].join(' | ')
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://mbostock.github.com/d3/d3.js"
    = csrf_meta_tags 
    = yield(:head)
  %body
    %h1 
      = link_to 'The Populinator', '/'
    = yield :watermark
    #border
      = yield :top
      #navigation
        %ul
          %li= link_to "Settlements", settlements_path
          %li= link_to "Beings", beings_path
      .clear
      #notice= flash[:notice]
      #warning= flash[:warning]
      #info= flash[:info]    
      #main-content
        = yield
      #sidebar 
        = yield :sidebar
    #footer 
      = yield :footer
      %ul.credits      
        %li 
          Fonts from 
          = link_to 'Fontsquirrel', 'http://www.fontsquirrel.com/'
    #dialogs.invisible
      = yield(:dialogs)

